[Unit]
Description=Tiny Biome Server
Requires=network.target
After=network.target

[Service]
WorkingDirectory = /root/go/src/github.com/ethicatech/tinybiome
ExecStart=/root/tb -master localhost:8000 node master files
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target